<div class="signin-container">
  <div *ngIf="!this.auth.authenticated()" class="not-signed-in">
    <h1>log In</h1>
    <div class="not-signed-in-text">
      <button class="button" type="button" (click)="this.auth.signIn()">Log In</button>
      <p class="small">Don't have an account? <a routerLink="/signup">Sign Up</a></p>
      <p class="small"><a href="">Forgot Password?</a></p>
    </div>
  </div>
  <div *ngIf="this.auth.authenticated()" class="signed-in">
    <h1>Welcome!</h1>
    <div class="signed-in-text">
      <p *ngIf="loginType === 'Auth0'">You are logged in as {{ user?.auth0_user.email }}.</p>
      <p *ngIf="loginType !== 'Auth0'">You are logged in with {{ loginType }} as {{ profile?.nickname }}.</p>
      <a class="button" href="/">Continue</a>
      <a class="button" href="/admin" *ngIf="user?.scope === 'admin' || user?.scope === 'superadmin'">View Admin Portal</a>
      <p>Not your account? <a (click)="auth.signOut()">Sign Out</a></p>
    </div>
  </div>
</div>