<div class="container">
  <div *ngIf="!this.auth.authenticated()">
    <h1>Login</h1>
    <div class="login">
      <button class="login-button" type="button" (click)="this.auth.login()">Login</button>
      <p>Don't have a Login? <a (click)="signUp()">Create an Account</a></p>
    </div>
  </div>
  <div *ngIf="this.auth.authenticated() && !this.loading" class="login">
    <div *ngIf="!this.noAccess">
      <h1>Welcome</h1>
      <p>You are logged in as {{ auth.user?.auth0_user?.email }}</p>
      <p>
        <a class="link cart-link" href="/cart">Cart</a>
        <a class="link checkout-link" href="/checkout">Checkout</a>
      </p>
    </div>
    <div class="noaccess" *ngIf="this.noAccess">
      <h1>No Access</h1>
      <p>You have successfully logged in with Auth0, though you do not have access to this specific website. Please
        contact the website administrator to grant you access.</p>
      <a class="logout-button" (click)="logout()">Logout</a>
    </div>
  </div>
</div>