<div class="signin-container">
  <div class="confirm-email">
    <h1>Confirm Your Email</h1>
    <div class="confirm-email-text">
      <p class="small" *ngIf="!showResendVerification">You have signed up with Auth0 as {{ user?.auth0_user.email }}. Check your inbox to confirm your email, then press the button below to continue.</p>
      <p class="small" *ngIf="showResendVerification">Your email {{ user?.auth0_user.email }} is not yet confirmed. Check your inbox to confirm your email, then press the button below to continue.</p>
      <button class="button" (click)="checkStatus()">{{ processing ? "checking..." : "I have confirmed my email!" }}</button>
      <p class="small">Not your account?</p>
      <a (click)="signOut()">Logout</a>
      <p class="small" *ngIf="!confirmationEmailSent && showResendVerification">
      	<a (click)="resendConfirmation()">Resend the Confirmation.</a>
      </p>
      <p class="small" *ngIf="confirmationEmailSent">Confirmation sent</p>
    </div>
  </div>
</div>