<div class="signin-container">
  <div class="forgot-password">
    <h1 *ngIf="!submitted">Reset Your Password</h1>
    <form class="forgot-password-form" name="forgot_password" [formGroup]="forgot_password">
      <label *ngIf="!submitted" for="email">Your Email</label>
      <input *ngIf="!submitted" type="email" name="email" placeholder="Enter your email..." formControlName="email">
      <p *ngIf="emailInvalid" class="small error">Enter a valid email address.</p>
      <button *ngIf="!submitted" class="button forgot-password-button" (click)="submit()" [disabled]="submitting">{{ submitting ? "Submitting..." : "Submit" }}</button>
      <p *ngIf="submitted" class="large">Password reset email was sent to {{ forgot_password.value.email }}.</p>
      <p *ngIf="submitted" class="small">If this email is on file, you will receive a link to reset your password.</p>
    </form>
  </div>
</div>