.input-container{
	text-align: center;
}

.input-container form{
	width: 300px;
	margin: 0 1rem 1rem 0;
	display: inline-block;
}

label {
	color: #B4B4B4;
	display: block;
	text-align: left;
}

input {
	height: 20px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}