<div class="container">
  <div>
    <h1>Reset Your Password</h1>
    <div class="login">
      <div class="input-container" *ngIf="!requested">
        <form [formGroup]='form'>
          <label for="email">Email</label>
          <input name="email" type="email" [(ngModel)]='email' formControlName='email'>
          <p *ngIf="error">Failed to process request.</p>
        </form>
      </div>
      <button *ngIf="!requested" class="login-button" type="button" (click)="resetPassword()">{{processing ? 'Submitting...' : 'Submit'}}</button>
      <p *ngIf="requested">Success!</p>
      <p><a href="/">Back</a></p>
    </div>
  </div>
</div>