<div class="signin-container">
  <div class="error-screen">
    <h1>Sorry</h1>
    <div class="error-screen-text">
      <p class="small" *ngIf="anonSignupDisabled">You are logged in with Auth0 as {{ email }} but the site administrator has not granted you access to this site.</p>
      <p class="small" *ngIf="anonSignupDisabled">Please contact the site administrator to request an invitation.</p>
      <p class="small" *ngIf="!anonSignupDisabled">You are logged in with {{ loginType }} as {{ loginType === 'Auth0' ? email : username }} but you do not have access to this site.</p>
      <p class="small">Not your account?</p>
      <a (click)="signOut()">Logout</a>
    </div>
  </div>
</div>